body, html{
    margin: 0px;
    height: 100%;
}
.heading{
    position: absolute;
   
    color: black;
  
    font-size: 30px;
}
img{
    position: fixed;
    opacity: 0.5;

}
.navbar{
    
    margin: 0;
    padding: 8px 5px;
    background-color: brown;
    
}
.navbar > ul{
    list-style-type: none;

}
.navbar > ul > li{
    font-size: larger;
    
    
}
.navbar > ul > li >a{
    
    text-decoration: none;
    font-size: larger;
    color: white;
   
    
}
.button{
    position: absolute;
    top: 60%;
    left: 40%; 
    
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: orangered;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(248, 95, 24);
    
}
.button:hover{
    background-color: rgba(240, 229, 223, 0.884);
}
.button:active{
    background-color:gainsboro;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}



